<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--<property name="logging.path" value="/home/admin/log/idmaker-service"/>-->
    <property name="logging.path" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}"/>

    <appender name="PROJECT-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}/application.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{32}[%file:%line] -&gt; %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/application.log.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="innerLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <File>${logging.path}/inner/inner.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/inner/inner.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg%n</pattern>
        </layout>
    </appender>


    <appender name="PROJECT-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{20} [%file:%line] - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--<logger name="java.sql" additivity="false" level="INFO">-->
    <!--<appender-ref ref="PROJECT-SQL"/>-->
    <!--</logger>-->

    <logger name="jdbc.connection" level="ERROR"/>
    <logger name="jdbc.audit" level="ERROR"/>
    <logger name="jdbc.resultset" level="ERROR"/>
    <logger name="java.sql.PreparedStatement" level="ERROR"/>

    <logger name="net.sf.json.JSONObject" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="com.alibaba.druid.pool.vendor" level="ERROR"/>

    <logger name="jdbc.sqlonly" additivity="false" level="INFO">
        <!-- <appender-ref ref="Sql" />  -->
        <appender-ref ref="PROJECT-CONSOLE"/>
    </logger>
    <logger name="druid.sql.Statement" additivity="false" level="INFO">
        <!-- <appender-ref ref="Sql" />  -->
        <appender-ref ref="PROJECT-CONSOLE"/>
    </logger>

    <logger name="com.alibaba.dubbo" level="WARN"/>

    <logger name="sdk.biz.err" level="off"/>

    <root level="info">
        <appender-ref ref="PROJECT-FILE"/>
        <appender-ref ref="PROJECT-CONSOLE"/>
        <!--<appender-ref ref="ERROR-CODE-FILE"/>-->
    </root>

</configuration>
