<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="logger.path" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}"/>

    <appender name="PROJECT-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logger.path}/all.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{32}:%line -&gt; %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger.path}/all.log.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="PROJECT-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{32}:%line -&gt; %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <!--<logger name="java.sql" additivity="false" level="INFO">-->
    <!--<appender-ref ref="PROJECT-SQL"/>-->
    <!--</logger>-->

    <logger name="jdbc.connection" level="ERROR"/>
    <logger name="jdbc.audit" level="ERROR"/>
    <logger name="jdbc.resultset" level="ERROR"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>

    <logger name="net.sf.json.JSONObject" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>

    <logger name="jdbc.sqlonly" additivity="false" level="DEBUG">
        <!-- <appender-ref ref="Sql" />  -->
        <appender-ref ref="PROJECT-CONSOLE"/>
    </logger>

    <logger name="com.alibaba.dubbo" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="PROJECT-FILE"/>
        <appender-ref ref="PROJECT-CONSOLE"/>
    </root>

</configuration>
